.items p{
    font-size: 15px;
    text-align: center;
}
.items img{
    width: auto;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 5px 3px 5px
    
}
.items img:hover{
    cursor:grab;
transform: scale(0.9);


}
.items{
    overflow:auto
}

.scroll button{
    border-radius: 40%;
    background: transparent;
}
.scroll{
    gap: 10px;
    margin-right: 20px;
}
