#bannerimg{
    width: 312px;
    height: 312px;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
       transform: rotate(0deg);        
    }
    100%{
        transform:rotate(360deg);
    }
    
}

p{
    font-size: 60px;
    line-height: 1;
    
}
#quote{
    font-size: 30px;
}
@media screen and (max-width:576px){
    #pdivp{
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        color: white;
        z-index: 10;
    }
    #pdiv{
        position: absolute;
    }
    #bannerimg{
        
       display: none;
    }
    #quote{
        font-size: 25px;
        color: white;
    }
    .banner{
       
        background-image: url(./cookies.jpg);
        background-size: cover;
        background-position: center;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* #dummy{
        width:100vw;
        height:100%;
        background-color:rgba(0, 0, 0, 0.2);
        position: absolute;
        top:0;
        left:0
    } */
}